/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* Satoshi */
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Black.eot");
  src: url("../fonts/Satoshi-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Satoshi-Black.woff2") format("woff2"),
    url("../fonts/Satoshi-Black.woff") format("woff"),
    url("../fonts/Satoshi-Black.ttf") format("truetype"),
    url("../fonts/Satoshi-Black.svg#Satoshi-Black") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Bold.eot");
  src: url("../fonts/Satoshi-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Satoshi-Bold.woff2") format("woff2"),
    url("../fonts/Satoshi-Bold.woff") format("woff"),
    url("../fonts/Satoshi-Bold.ttf") format("truetype"),
    url("../fonts/Satoshi-Bold.svg#Satoshi-Bold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Medium.eot");
  src: url("../fonts/Satoshi-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Satoshi-Medium.woff2") format("woff2"),
    url("../fonts/Satoshi-Medium.woff") format("woff"),
    url("../fonts/Satoshi-Medium.ttf") format("truetype"),
    url("../fonts/Satoshi-Medium.svg#Satoshi-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Regular.eot");
  src: url("../fonts/Satoshi-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../fonts/Satoshi-Regular.woff") format("woff"),
    url("../fonts/Satoshi-Regular.ttf") format("truetype"),
    url("../fonts/Satoshi-Regular.svg#Satoshi-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Light.eot");
  src: url("../fonts/Satoshi-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Satoshi-Light.woff2") format("woff2"),
    url("../fonts/Satoshi-Light.woff") format("woff"),
    url("../fonts/Satoshi-Light.ttf") format("truetype"),
    url("../fonts/Satoshi-Light.svg#Satoshi-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/GeneralSans-Regular.eot');
  src: url('../fonts/GeneralSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/GeneralSans-Regular.woff2') format('woff2'),
      url('../fonts/GeneralSans-Regular.woff') format('woff'),
      url('../fonts/GeneralSans-Regular.ttf') format('truetype'),
      url('../fonts/GeneralSans-Regular.svg#GeneralSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*==== Default Style :: Start ====*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

:root {
  --black: #121715;
  --white: #fff;
  --secondary-color: #f6f8f7;
  --primary-color: #01763f;
  --base-transition: all 0.3s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Track */
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #01763f;
  border-radius: 4px;
  height: 60px;
}

.modal-body{
  overflow-x: hidden;
}
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
  accent-color: var(--primary-color);
}

body {
  background-color: var(--white);
  overflow-x: hidden;
  line-height: 1.3;
  font-family: Satoshi;
}

main {
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f2f4f7;
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

button {
  border: none;
  outline: none;
}

.owl-dots{
  display: none !important;
}

.flatpickr-day.selected {
  background-color: var(--primary-color) !important;
  color: var(--white);
 
}
.flatpickr-calendar{
  font-family: Satoshi !important;
}

/* =================================================:: Bishal Code starts here  ::====================================================== */

/* -------------------------    Buyer Home Page Starts  ---------------------------   */
.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 12px 0 12px 12px;
  gap: 12px;
  overflow: hidden;
  
}

.side-bar-container{
  position: relative;
  display: flex;
  width: fit-content;
  transition: var(--base-transition);
}

.side-bar-container.close .side-bar-left-side{
  opacity: 0;
  visibility: hidden;
  transition: var(--base-transition);
  margin-left: -300px;
}
.side-bar-left-side::-webkit-scrollbar{
  background-color: transparent;
}
.side-bar-left-side::-webkit-scrollbar-thumb{
  background-color: transparent;
}
.side-bar-container.close .side-toggole-icon-side{
 
  right: -25px;
}
.side-toggole-icon-side{
  position: absolute;
  top: 70px;
  right: -20px;
  cursor: pointer;
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

.side-toggole-icon-side svg path{
 fill: white;
}
.side-bar-left-side {
  visibility: visible;
  opacity: 1;
  width: 288px;
  padding: 38.3px 0px;
  border-radius: 20px;
  height: 100%;
  position: relative;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  transition: var(--base-transition);
  
}

.side-bar-left-side hr {
  margin: 26px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.side-bar-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-image {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-name h4 {
  color: var(--white);
  font-family: Satoshi;
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.285px;
  text-transform: capitalize;
}

.logo-name h4 > span {
  font-weight: 700;
}

.side-bar-menu-content {
  padding: 0 29px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 300px;
  overflow-y: auto;
}
.side-bar-menu-content::-webkit-scrollbar{
  background-color: transparent;
}
.side-bar-menu-content::-webkit-scrollbar-thumb{
  background-color: transparent;
}
.side-bar-menu-content ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.side-bar-menu-content ul li {
  width: 100%;
  height: 48px;
  padding: 10px 12px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  transition: var(--base-transition);
}
.side-bar-menu-content ul li a {
  width: 100%;
  text-align: start;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.side-bar-menu-content ul li:hover {
  background: rgba(255, 255, 255, 0.07);
}

.side-bar-menu-content ul li.active {
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.07);
}

.side-bar-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  padding: 0 29px;

  /* position: absolute;
  bottom: 38.3px; */
}

.side-bar-footer-badge-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 23px 19px;
  background-color: var(--primary-color);
  border-radius: 20px;
  height: 100%;
  gap: 7px;
  justify-content: center;
  align-items: center;
  min-width: 219px;
  transition: var(--base-transition);
  margin-top: 10px;
}

.get-started-btn {
  width: 100%;
  display: flex;
  padding: 8px 6.871px;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-family: Poppins;
  font-size: 13.742px;
  font-style: normal;
  font-weight: 600;
  background-color: var(--white);
  line-height: 20.614px;
  /* 150% */
  border-radius: 8px;
  transition: var(--base-transition);
}

.side-bar-footer-badge-container h1 {
  color: var(--white);
  text-align: center;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27.485px;
  /* 137.424% */
  transition: var(--base-transition);
}

.side-bar-footer-badge-container h4 {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  /* 114.286% */
  margin-bottom: 13px;
  transition: var(--base-transition);
  
}

.side-bar-sign-out-btn {
  width: 100%;
  padding: 10px 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: inherit;
  color: var(--white);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  transition: var(--base-transition);
}

.side-bar-sign-out-btn:hover {
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.07);
}

.main-content-display {
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  overflow-y: auto;
  overflow-x: hidden ;
  position: relative;
  
}

.main-content-display-header-container {
  width: 100%;
  display: flex;
  padding: 38px;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--secondary-color);
  border-radius: 25px;
  gap: 47px;
  margin-bottom: 38px;
}

.user-search-filter-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px 5px 5px 22px;
  background-color: var(--white);
  border-radius: 14px;
  box-shadow: 0px 12px 45px 0px rgba(18, 23, 21, 0.05);
}

.search-wrapper {
  width: 100%;
  display: flex;
  gap: 8px;
}

.search-wrapper input {
  width: 100%;
  border: none;
  outline: none;
  color: #798680;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
}

.filter-btn {
  display: flex;
  padding: 17px 29px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  color: var(--black);
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
  text-transform: capitalize;
}

.filter-btn span {
  color: var(--black);
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
  text-transform: capitalize;
}

.user-controller-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  transition: var(--base-transition);
}

.welcome-msg-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.welcome-msg-section > h1 {
  color: var(--black);
  font-family: Satoshi;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.51px;
  text-transform: capitalize;
}

.welcome-msg-section > p {
  color: var(--black);
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
}

.controller-section {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
.statics-btn {
  color: var(--black);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
  display: flex;
  width: 126px;
  padding: 16px 19px;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  border-radius: 14px;
  border: 1px solid #005E33;
  background: #F2F4F7;
  margin-right: 51px;
}
.statics-btn.active{
  border-radius: 14px;
  border: 1px solid #005E33;
  background: #5CDBA1;
}
.switch-mode-section {
  padding: 16px 19px;
  background-color: var(--white);
  display: flex;
  gap: 37px;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}

.switch-mode-section.checked {
  border-radius: 14px;
  border: 1px solid #01763f;
  background: rgba(1, 118, 63, 0.1);
}

.switch-mode-section.checked .switch-text {
  color: var(--primary-color);
}

.switch-text {
  color: #798680;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
  text-wrap: nowrap;
}

.notification-button {
  display: flex;
  width: 60px;
  min-width: 60px;
  min-height: 60px;
  height: 60px;
  padding: 2px 3px;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  border: 1px solid #dae2de;
}

.user-img {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;

  border-radius: 14px;
}

.user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* switch starts here  */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c5d3cd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  top: 2px;
  left: 2px;
  background-color: var(--white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: var(--primary-color);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 12px;
}

.slider.round:before {
  border-radius: 50%;
}

/* switch ends here */

/* sellers / service providers you are following section starts */
.providers-slider-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 38px;
  
}

.providers-slider-section h1 {
  color: var(--black);
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  text-transform: capitalize;
}

.provider-slider {
  width: 100% !important;
  height: auto !important;;
  margin-bottom: 58px;
}

.provider-slider .owl-nav {
  display: flex !important;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -44px;
  gap: 13px !important;
  justify-content: center;
  align-items: center;
}

.provider-card {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.provider-card-header {
  width: 100%;
  height: 249px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
}

.provider-card-header > span {
  position: absolute;
  right: 10px;
  display: flex;
  padding: 9px 13px;
  justify-content: center;
  align-items: center;
  top: 12px;
  z-index: 1;
  border-radius: 9px;
  background-color: var(--white);
  color: var(--primary-color);
  text-align: center;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
  text-transform: capitalize;
}
.provider-card-header > span.new {
  background: rgba(1, 118, 63, 0.1);
}
.provider-card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: var(--base-transition);
}
.provider-card-header img:hover{
  transform: scale(1.1);
}
.provider-card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 18.5px;
}

.provider-card-body > h5 {
  color: var(--black);
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
}

.provider-card-body .price {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
  color: var(--black);
}

.provider-card-body .price del {
  color: rgba(22, 29, 26, 0.33);
  margin-right: 2px;
}

.provider-card-footer {
  width: 100%;
  padding: 17.5px 11px;
  display: flex;
  gap: 10px;
  border: none;
  border-top: 1px solid #dae2de;
}

.provider-card-footer .provider-image {
  min-width: 44px;
  max-width: 44px;
  height: 44px;
}

.provider-card-footer .provider-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.provider-card-footer .provider-text {
  width: 100%;
  display: flex;
  gap: 19px;
  align-items: center;
  justify-content: space-between;
}

.provider-card-footer .provider-text .provider-text-info {
  display: flex;
  flex-direction: column;
}

.provider-text-info h6 {
  color: var(--black);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
}

.provider-text-info p {
  color: var(--black);
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.21px;
}

/* sellers / service providers you are following section ends */

/* Categories section starts  */
.categories-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 38px;
  gap: 10px;
}

.categories-section > h1 {
  color: var(--black);
  font-family: Satoshi;
  font-size: 24px;
  font-weight: 500;
  line-height: 32.4px;
  letter-spacing: -0.015em;
  text-align: start;
}

.categories-list-container {
  width: 100%;
  overflow-x: hidden;
  display: flex;
}

.categories-list-container::after {
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.category-slider {
  width: 100%;
  display: flex;
  gap: 12px;
  white-space: nowrap;
  /* animation: marquee 30s linear infinite; */
  padding: 12px 0;
  overflow-x: auto;
}
.category-slider::-webkit-scrollbar{
  background-color: transparent;
  width: 8px;
  height: 4px;
}
.category-slider::-webkit-scrollbar-thumb{
  background-color: transparent;
}
.category-slider input[type="checkbox"]{
  display: none;
}

.category-slider input[type="checkbox"]:checked + .category-box{
  border-radius: 126.694px;
  border: 1.545px solid #01763f;
  background: rgba(1, 118, 63, 0.09);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
 .category-box {
  width: fit-content;
  padding: 18.54px 24.72px 18.54px 24.72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 126px;
  border: 1.55px solid #e5ebe8;
  background-color: var(--white);
  color: #1f2b47;
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.015em;
  text-align: center;
  cursor: pointer;
}

/* .category-box:hover {
  border-radius: 126.694px;
  border: 1.545px solid #01763f;
  background: rgba(1, 118, 63, 0.09);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
} */

/* for filter-screen */
.filter-wrapper{
  position: relative;
  transition: var(--base-transition);
 
}
.filter-screen{
  transition: var(--base-transition);
  position: absolute;
  right: 0;
  top: 70px;
  display: flex;
  width: 240px;
  min-width: 240px;
  padding: 16px 8px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 16px;
  border: 1px solid #F5F5F7;
  background: var(--white);
  z-index: 200;
  box-shadow: 24px 24px 110px -14px rgba(161, 161, 165, 0.45);
  visibility: hidden;
  opacity: 0;
  transform: translateX(200%);
}
.filter-screen.show{
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.filter-screen-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0;
}
.filter-screen-header span{
  color: #B3B3B3;
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}
.filter-screen-header button{
  background: transparent;
  border: none;
  color: #D0011B;
  text-align: right;
  font-family: Satoshi;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 200% */; /* 171.429% */
  cursor: pointer;
}

.gender-check-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #F5F5F7;
  padding-bottom: 2px;
  gap: 5px;
}
.gender-check-container p{
  color: #B3B3B3;
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  padding: 8px 14px;
}
.gender-check-container input[type="checkbox"]{
  accent-color: var(--black);
  width: 12px;
  height: 12px;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
}
.input-wrapper.checked{
  background-color: var(--secondary-color);
}

.input-wrapper{
  width: 100%;
  display: flex;
  padding: 8px 14px;
  gap: 8px;
  border-radius: 50px;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;
}
.input-wrapper label{
  color: var(--black);
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer; /* 171.429% */
}


.choose-color-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #F5F5F7;
  padding-bottom: 2px;
  gap: 5px;
}
.choose-color-container p{
  padding: 8px 14px;
  color: #B3B3B3;
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
}
.checkbox-group label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  align-items: center;
  width: 74px;
  height: 80px;
  color: var(--black);
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  justify-content: flex-end; /* 171.429% */
}
.checkbox-group input[type="checkbox"] {
  display: none;
}
.checkbox-group input[type="checkbox"] + .custom-checkbox {
  position: relative;
  cursor: pointer;
}
.checkbox-group input[type="checkbox"] + .custom-checkbox::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translate(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
/* Different background colors */
input#checkbox1 + .custom-checkbox::before {
  background-color: #000;
}
input#checkbox2 + .custom-checkbox::before {
  background-color: #B3B3B3;
}
input#checkbox3 + .custom-checkbox::before {
  background-color: #FFF;
}
input#checkbox4 + .custom-checkbox::before {
  background-color: #D0011B;
}
input#checkbox5 + .custom-checkbox::before {
  background-color: #F69113;
}
input#checkbox6 + .custom-checkbox::before {
  background-color: #2A63F5;
}
/* Style the checkmark */
.checkbox-group input[type="checkbox"]:checked + .custom-checkbox::before {
  border: 1px solid  var(--secondary-color);
}
.checkbox-group input[type="checkbox"]:checked + .custom-checkbox::after {
  content: '';
  position: absolute;
  left: 35px;
  top: 20px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/* Specific checkmark color for white background */
input#checkbox2:checked + .custom-checkbox::after {
  border-color: white;
}
/* Specific checkmark color for black background */
input#checkbox3:checked + .custom-checkbox::after {
  border-color: black;
}




.price-range-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.price-range-container p{
  color: #B3B3B3;
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 8px 14px;
}
.price-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px 0px;

}
.price-input {
  width: 100%;
  display: flex;
 
}
.price-input .field {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
  position: relative;
}
.price-input .field::before{
  content: '$';
  position: absolute;
  left: 12px;
  color: #B3B3B3;
  color: var(--primary-color);

}
.field input:focus .field::before {
  color: #B3B3B3;
}
.field input {
  width: 100%;
  border-radius: 8px;
  max-width: 100px;
  padding: 6px  0 6px 22px ;
  border: 1px solid #D2D2D7;
  color: #B3B3B3;
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  transition: var(--base-transition);
  line-height: 24px; /* 171.429% */
  -moz-appearance: textfield;
}
.field input:focus {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-wrapper .slider {
  height: 5px;
  position: relative;
  background: var(--secondary-color);
  border-radius: 5px;
  margin-top: 16px;
}
.price-wrapper .slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: var(--primary-color);
}
.range-input {
  position: relative;
}
.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -20px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* round thumb */
input[type="range"]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: var(--white);
  pointer-events: auto;
  -webkit-appearance: none;
  border: 1px solid var(--primary-color);
}
input[type="range"]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: var(--primary-color);
  pointer-events: auto;
  -moz-appearance: none;

}

/* Aos bishal */
[data-aos="fade-down"] {
 
  transform: translate3d(0, -20px, 0); /* Start with element slightly above its final position */
}

/* Initial state for fade-up animations */
[data-aos="fade-up"] {
  transform: translate3d(0, 20px, 0); /* Start with element slightly below its final position */
}





/* for filter-screen ends */




@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Categories section ends  */

/* -------------------------    Buyer Home Page Ends  ---------------------------   */

/* =================================================:: Bishal Code starts here  ::====================================================== */
/* ====================================== nahian css start ======================== */
.nr--signIN--main {
  padding: 40px 40px 40px 150px;
  display: flex;
  justify-content: center;
}
.nr--signIn--right {
  background: #f6f8f7;
  padding: 50px;
  border-radius: 30px;
}

.nr--signIn--right--logo {
  width: 34.488px;
  height: 34.489px;
  margin: 0 auto;
}
.nr--signIn--right--logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.nr--sign--in--text--inputs {
  margin-top: 30px;
}
.nr--signIn--right--texts h3 {
  color: #121715;
  font-family: Satoshi;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.6px;
  text-transform: capitalize;
}
.nr--signIn--right--texts p {
  color: #121715;
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.3px;
}
.nr--signIn--right--inputs {
  margin-top: 30px;
}
.nr--signIn--right--inputs--email {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.nr--signIn--right--inputs--email label {
  margin-bottom: 10px;
  color: #121715;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
}
.nr--signIn--right--inputs--email input {
  width: 404px;
  padding: 15px 20px;
  border-radius: 10px;
  border: solid #e8e8e8;
}
.nr--signIn--right--checkbox {
  margin-top: 5px;
  display: flex;
  column-gap: 124px;
  align-items: center;
}
.nr--signIn--right--checkbox--rmember label {
  color: var(--Text-Color-Text-1, #1b212d);
  font-family: Satoshi;
  font-size: 14px;
  font-weight: 500;
}
.nr--signIn--right--checkbox a {
  color: var(--Text-Color-Text-1, #1b212d);
  text-align: right;
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.nr--sign--in--btn {
  width: 404px;
  margin-top: 30px;
  margin-bottom: 25px;
}
.nr--sign--in--btn button {
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #01763f;
  background: #01763f;
  color: #fff;
  text-align: center;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
  width: 100%;
}

.nr--log--in--google--dont {
  width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  align-items: center;
  position: relative;
}
.nr--log--in--frame {
  position: absolute;
  bottom: -26px;
  right: 64px;
}
.nr--log--with--google--svg {
  width: 24px;
  height: 24px;
}
.nr--log--with--google {
  padding: 13px 95px;
  color: #4d514f;
  text-align: center;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
  border-radius: 10px;
  border: 1px solid var(--Gray-Gray-3, #f5f5f5);
  width: 400px;
}
.nr--dont--ac {
  color: #595d5b;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 500;
}
.nr--dont--ac span {
  color: #121715;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nr--log--with--google--svg svg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.nr--signIn--right--texts{
  text-align: center;
}

/* sign in:: signup done */

/*  forget password :: start hare */
.nr--forgetPassword--wrapper {
  padding-top: 110px;
  position: relative;
}

.nr--forget--password--main {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f8f7;
  width: 550px;
  margin: 0 auto;
  border-radius: 30px;
}
.nr--forget--password--logo {
  display: flex;
  justify-content: center;
}
.nr--forget--password--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  margin-top: 30px;
}
.nr--forget--password--text h2 {
  color: #121715;
  font-family: Satoshi;
  font-size: 32px;
  font-weight: 500;
}
.nr--forget--password--text p {
  color: #5d5d5d;
  text-align: center;
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  width: 436px;
}
.nr--forget--password--email {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.nr--forget--password--email input {
  width: 450px;
  height: 47px;
  border-radius: 10px;
  border: 1px solid var(--Egyptian-White, #e6f1ec);
  padding-right: 14px;
  padding: 0px 21px;
  border-radius: 10px;
}
.nr--forget--password--email label {
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
}

.nr--forget--password--btn {
  margin-top: 30px;
  width: 450px;
}
.nr--forget--password--btn a {
  padding: 14px 190px;
  background-color: #9fada6;
  border: 1px solid transparent;
  width: 100%;
  border-radius: 16px;
  pointer-events: none;
}
.nr--forget--password--back {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 14px;
  position: absolute;
  left: 32px;
  top: 28px;
  cursor: pointer;
}
.nr--forget--password--back--svg {
  height: 24px;
  width: 24px;
}
.nr--forget--password--back--svg svg {
  height: 100%;
  width: 100%;
}

.nr--EroorText {
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: red;
}
/* forget password :: end hare */

.nr--counter {
  margin-top: 25px;
}
.nr--counter h3 {
  color: #595d5b;
  text-align: center;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.nr--counter h3 span {
  color: #121715;
  font-weight: 700;
  line-height: normal;
}



.otp-input-fields {
  margin: auto;
  max-width: 400px;
  width: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 40px;
}

.otp-input-fields input {
  width: 84px;
  height: 76px;
  border-radius: 16px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #ced5d2;
  text-align: center;
  outline: none;
  font-size: 36px;
}

.otp-input-fields input::-webkit-outer-spin-button,
.otp-input-fields input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.otp-input-fields input[type="number"] {
  -moz-appearance: textfield;
}

.otp-input-fields input:focus {
  border-width: 2px;
  border-color: #2f8f1f; 
  font-size: 36px;
}

/* step css */
.nr--step--wrapper--one {
  display: block;
}
.nr--step--wrapper--two {
  display: none;
}
.nr--step--wrapper--three {
  display: none;
}

.nr--forget--password--btn button {
  cursor: pointer;
  border-radius: 14px;
  border: 1px solid #01763f;
  background: #01763f;
  text-align: center;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
  width: 450px;
  color: #fff;
  padding: 12px 0;
}
.nr--forget--password--btn button:disabled {
  background: #9fada6;
  color: #f2f4f7;
  border: #9fada6;
}

.nr--sucess--svg {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.nr--sucess--svg svg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.nr--sucess--text h3 {
  color: #121715;
  text-align: center;
  font-family: Satoshi;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.6px;
  text-transform: capitalize;
}
.nr--sucess--text p {
  color: #121715;
  text-align: center;
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.3px;
}

.modal-body {
  padding: 60px 0;
}
.nr--forget--sucess--btn {
  margin-top: 30px;
}

.nr--continue--btn--3 {
  padding: 14px 190px;
  border: 1px solid #01763f;
  background: #01763f;
  width: 70%;
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #FFF;
}

.modal-header {
  display: flex;
  padding: var(--bs-modal-header-padding);
  border-bottom: 0;
}


/* index html :: strat hare */
.nr--index--background{
  position: relative;
  padding-top: 63px;
}

.nr--index--right{
  position: absolute;
  right: 0;
  top: 0;
}
.nr--index--left{
  position: absolute;
  left: 0;
  top: 0;
}

.nr--banner--wrapper{
  padding: 0px 0 150px 0;
}
.nr--banner--wrapper--main {
  border-radius: 40px;
  position: relative;
  padding-top: 120px;
}
.nr--banner--wrapper--main::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.07;
  background: linear-gradient(180deg, rgb(1, 118, 63) 0%, rgba(1, 118, 63, 0.00) 100%);
  z-index: -1;
  border-radius: 40px;
}

.nr--banner--header--logo{
  width: 60px;
  height: 60px;
}
.nr--banner--header--logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nr--banner--header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nr--banner--header a {
  display: flex;
  align-items: flex-end;
  column-gap: 19px;
}
.nr--banner--header a h4{
  color: #000;
  font-family: Satoshi;
  font-size: 35.625px;
  font-weight: 300;
  letter-spacing: -0.534px;
  text-transform: capitalize;
}
.nr--banner--header a span{
  color: #000;
  font-family: Satoshi;
  font-size: 35.625px;
  font-weight: 700;
  letter-spacing: -0.534px;
  text-transform: capitalize;
}

.nr--banner--heading h2{
  color: #121715;
  text-align: center;
  font-family: Satoshi;
  font-size: 60px;
  font-weight: 700;
  line-height: 62.454px; 
  letter-spacing: -1.8px;
  width: 946px;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 50px;
}

.nr--banner--video{
  width: 992px;
  height: 446px;
  margin: 0 auto;
  border-radius: 35px;
  background: #D7E0DC;
  position: relative;
}
.nr--banner--video img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 35px;
}
.nr--banner--video iframe{
  height: 100%;
  width: 100%;
}
.nr--banner--video--icon-svg{
  width: 110px;
  height: 110px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.nr--banner--video--icon-svg svg{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.nr--banner--lower--text--and--btn{
  margin-top: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.nr--banner--lower--text--and--btn p{
  color: #121715;
  text-align: center;
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; 
  letter-spacing: -0.4px;
  width: 946px;
  margin: 0 auto;
}
.nr--banner--lower--text--and--btn a{
  padding: 20px 0;
  width: 433px;
  border-radius: 18px;
  background: #01763F;
  color: #FFF;
  text-align: center;
  font-family: Satoshi;
  font-size: 30px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.6px;
  text-transform: capitalize;
}
/* banner :: end hare */


/* who we are :: start hare */
.nr--who--we--are--wrapper{
  padding-bottom: 180px;
}
.nr--who--we--are--main {
  background: url(../images/whoWeAreBanner.png) no-repeat;
  background-size: cover;
  padding: 220px 102px;
  border-radius: 30px;
  position: relative;
}
.nr--who--we--are--content {
  padding: 50px;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 24px 212px 0px rgba(46, 86, 66, 0.12);
  width: 996px;
  position: absolute;
  top: 282px;
  left: 50%;
  transform: translateX(-50%);
}
.nr--who--we--are--content h3{
  color: #161C2D;
  font-family: Satoshi;
  font-size: 50px;
  font-weight: 700;
  line-height: 58px; 
  letter-spacing: -1.8px;
  margin-bottom: 20px;
}
.nr--who--we--are--content p{
  width: 896px;
  color: #121715;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.4px;
  margin-bottom: 25px;
}
.nr--who--we--are--content a{
  color: #01763F;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.4px;
}
/* who we are :: end hare */


/* community :: start hare */
.nr--community--wrapper{
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding-bottom: 138px;
}
.nr--community--background--text h4{
  font-size: 200px;
  font-weight: 700;
  line-height: 241.748px; 
  letter-spacing: -7.503px;
  opacity: 0.09;
  background: linear-gradient(180deg, #01763F 0%, rgba(1, 118, 63, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  justify-content: center;
}

.nr--banner--header {
  position: relative;
  top: -78px;
}
.nr--community--main--teext h4{
  color: #121715;
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.4px;
  width: 1044px;
  margin: 0 auto;
  text-align: center;
}
.nr--community--main--teext h4 span{
  color: #01763F;
  text-align: center;
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.4px;
}
.nr--community--main--teext h4 .second--span{
  color: #121715;
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.4px;
}
.nr--community--main--teext--2nd{
  margin-top: 30px;
}
.nr--community--main--teext--2nd h5{
  color: #121715;
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.4px;
  width: 1044px;
  margin: 0 auto;
  text-align: center;
}
.nr--community--main--teext--2nd h5 span{
  color: #121715;
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.4px;
}
/* community :: end hare */

/* service :: start hare */
.nr--service--main{
  padding: 72px 102px;
  border-radius: 40px;
  background: rgba(1, 118, 63, 0.05);
}
.nr--service--heading{
  display: flex;
  justify-content: center;
}
.nr--service--heading a{
  padding: 10px 30px;
  color: #01763F;
  text-align: center;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1px;
  border-radius: 40px;
  border: 1px solid #01763F;
  background: rgba(1, 118, 63, 0.10);
  transition: all linear 0.3s;
}
.nr--service--heading a:hover{
  background-color: #01763F;
  color: #fff;
}
.nr--service--heading--text h3{
  color: #161C2D;
  text-align: center;
  font-family: Satoshi;
  font-size: 50px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -1.8px;
  margin-top: 12px;
  margin-bottom: 14px;
}
.nr--service--heading--text p{
  color: #121715;
  text-align: center;
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; 
  letter-spacing: -0.4px;
  width: 751px;
  margin: 0 auto;
}

.nr--service--main--wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 50px;
  gap: 24px;
}
.nr--service--main--item {
  padding: 50px 60px;
  border-radius: 30px;
  background: #FFF;
  box-shadow: 0px 4px 72px 0px rgba(175, 212, 194, 0.18);
}
.nr--service--main--svg{
  width: 55px;
  height: 55px;
}
.nr--service--main--svg svg{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.nr--service--main--item h4{
  color: #161C2D;
  font-family: Satoshi;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1.8px;
  margin-top: 24px;
  margin-bottom: 12px;
}
.nr--service--main--item p {
  color: #121715;
  font-family: "Plus Jakarta Sans";
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: -0.4px;
}
/* service :: end hare */


/* whyUs :: strat hare */
.nr--whyUs--wrapper{
  padding: 150px 0;
}
.nr--whyUs--main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 14px;
  margin-top: 50px;
}
.nr--whyUs--item {
  padding: 35px 55px;
  border-radius: 20px;
  border: 1px solid rgba(1, 118, 63, 0.14);
  background: #FFF;
  box-shadow: 0px 4px 72px 0px rgba(109, 176, 143, 0.18);
  width: 637px;
  margin: 0 auto;
  display: flex;
  column-gap: 22px;
  align-items: center;
}
.nr--whyUs--svg{
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
}
.nr--whyUs--svg svg{
  height: 100%;
  width: 100%;
}
.nr--whyUs--texts h5{
  color: #121715;
  font-family: Satoshi;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.48px;
}
.nr--whyUs--texts span{
  color: #121715;
  font-family: Satoshi;
  font-size: 23px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.48px;
}
/* whyUs :: end hare */


/* testimonials :: start hare */
.nr--testimonials--wrapper {
  padding-bottom: 1061px;
}
.nr--testimonials--main{
  position: relative;
}
.nr--testimonials--inner{
  padding: 72px 0 261px 0;
  border-radius: 40px;
  background: #01763F;
}
.nr--testimonials--header{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nr--testimonials--heading{
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}
.nr--testimonials--heading a{
  padding: 10px 30px;
  color: #fff;
  text-align: center;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1px;
  border-radius: 40px;
  border: 1px solid #FFF;
  background: rgba(1, 118, 63, 0.10);
  transition: all linear 0.3s;
}
.nr--testimonials--heading a:hover{
  background-color: #fff;
  color: #01763F;
}

.nr--testimonials--heading--text h3{
  color: #fff;
  text-align: center;
  font-family: Satoshi;
  font-size: 50px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -1.8px;
  margin-top: 12px;
  margin-bottom: 14px;
}
.nr--testimonials--heading--text p{
  color: #fff;
  text-align: center;
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; 
  letter-spacing: -0.4px;
  width: 751px;
  margin: 0 auto;
}

.nr--testimonials--item--main {
  width: 996px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin: 0 auto;
  position: absolute;
  top: 345px;
  left: 50%;
  transform: translateX(-50%);
}
.nr--testimonials--item{
  padding: 50px 39px;
  position: relative;
  border-radius: 30px;
  background: #F2F8F5;
  overflow: hidden;
}
.nr--testItem--frameOne{
  width: 39px;
  height: 28px;
}
.nr--testItem--frameOne svg{
  height: 100%;
  width: 100%;
}

.nr--testItem--text p{
  color: #121715;
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.4px;
  margin: 24px 0 32px 0;
}
.nr--testItem--profile{
  display: flex;
  column-gap: 12px;
}
.nr--testItem--profile--photo{
  height: 54px;
  width: 54px;
  border-radius: 50%;
  border: 2px solid #121715;
}
.nr--testItem--profile--photo img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.nr--testItem--profile h3{
  color: #121715;
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px; 
  letter-spacing: -0.4px;
}
.nr--testItem--profile p{
  color: #121715;
  font-family: Satoshi;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
.nr--testItem--frame{
  width: 207px;
  height: 206;
  position: absolute;
  right: 0;
  bottom: 0;
}
.nr--testItem--frame img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* testomonial :: end hare */


/* footer :: strat hare */
.footer--wrapper {
  padding: 113px 0;
}
.nr--footer--texts{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 56px;
  border-bottom: 1px solid rgba(118, 78, 1, 0.20);
}
.nr--footer--logo--text {
  display: flex;
  column-gap: 13px;
  align-items: end;
  justify-content: center;
  margin-bottom: 24px;
}
.nr--footer--logo--text h4{
  color: #000;
  font-family: Satoshi;
  font-size: 23.75px;
  font-weight: 300;
  letter-spacing: -0.356px;
  text-transform: capitalize;
}
.nr--footer--logo--text span{
  color: #000;
  font-family: Satoshi;
  font-size: 23.75px;
  font-weight: 700;
  letter-spacing: -0.356px;
  text-transform: capitalize;
}
.nr--footer--logo{
  width: 40px;
  height: 40px;
}
.nr--footer--logo img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.nr--footer--texts p{
  color: #121715;
  text-align: center;
  font-variant-numeric: stacked-fractions;
  font-feature-settings: 'cv09' on, 'cv04' on, 'ss01' on, 'cv03' on, 'ss03' on, 'cv06' on;
  font-family: Satoshi;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; 
  letter-spacing: -0.18px;
  width: 586px;
  margin: 0 auto;
}

.nr--footer--logos{
  display: flex;
  justify-content: center;
  column-gap: 16px;
  margin-top: 56px;
}
.nr--footer--icon{
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: #01763F;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all linear 0.3s;
}
.nr--footer--icon--facebook{
  height: 24px;
  width: 24px;
}
.nr--footer--icon--facebook svg{
  height: 100%;
  width: 100%;
}
.nr--footer--icon:hover{
  background-color: transparent;
  border: 1px solid #01763F;
}
.nr--footer--icon:hover svg path{
  fill: #01763F;
}
/* footer :: end hare */




/* landingtwo :: start hare */
.nr--banner--header.landingTwo--header h4{
  color: #fff;
}
.nr--banner--header.landingTwo--header span{
  color: #fff;
}
.nr--banner--heading.landingTwo--header h2{
  color: #fff;
}

.nr--banner--wrapper--main--two{
  border-radius: 40px;
  position: relative;
  padding-top: 120px;
  background: linear-gradient(180deg, #01763F -4.11%, rgba(1, 118, 63, 0.24) 54.88%, rgba(1, 118, 63, 0.00) 94.2%);
}

.nr--banner--wrapper--main--two::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.07;
  z-index: -1;
  border-radius: 40px;
}

.nr--service--heading.nr--service--heading--two a{
  padding: 10px 30px;
  color: #fff;
  text-align: center;
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1px;
  border-radius: 40px;
  border: 1px solid #fff;
  background: rgba(1, 118, 63, 0.10);
  transition: all linear 0.3s;
}
.nr--service--heading.nr--service--heading--two a:hover{
  background-color: #fff;
  color: #01763F;
}
.nr--service--main--two{
  padding: 72px 102px;
  border-radius: 40px;
  background: #01763F;
}
.nr--service--heading--text.nr--service--heading--two h3{
  color: #fff;
  text-align: center;
  font-family: Satoshi;
  font-size: 50px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: -1.8px;
  margin-top: 12px;
  margin-bottom: 14px;
}
.nr--service--heading--text.nr--service--heading--two p{
  color: #fff;
  text-align: center;
  font-family: Satoshi;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; 
  letter-spacing: -0.4px;
  width: 751px;
  margin: 0 auto;
}
/* landingtwo :: end hare */


/* Landing Three :: Start hare */
.landingThree{
  background: #121715;
  box-shadow: 0px 4px 200px 0px rgba(29, 53, 41, 0.06);
}
.nr--banner--wrapper--main--three{
  border-radius: 40px;
  position: relative;
  padding-top: 120px;
  background: linear-gradient(180deg, #01763F -4.11%, rgba(1, 118, 63, 0.24) 54.88%, rgba(1, 118, 63, 0.00) 94.2%);
}
.nr--banner--header--logo svg{
  height: 100%;
  width: 100%;
}
.nr--banner--lower--text--and--btn.landongThree p{
  color: #FFF;
}
.nr--who--we--are--content.landingThree{
  border: 1px solid #01763F;
  background: #0F251B;
  box-shadow: 0px 24px 212px 0px rgba(46, 86, 66, 0.12);
}
.nr--who--we--are--content.landingThree h3{
  color: #fff;
}
.nr--who--we--are--content.landingThree p{
  color: #fff;
}
.nr--who--we--are--content.landingThree a{
  color: #fff;
}
.nr--community--main--teext.landingTwo--header h4{
  color: #FFF;
}
.nr--community--main--teext--2nd.landingTwo--header h5{
  color: #fff;
}
.nr--community--main--teext--2nd.landingTwo--header span{
  color: #FFF;
}
.nr--service--main--two.landingTwo--header{
  background: rgba(1, 118, 63, 0.15);
}
.nr--service--heading.nr--service--heading--three a{
  color: #01A759;
}
.nr--service--heading.nr--service--heading--three a:hover{
  color: #FFF;
  background-color: transparent;
}
.nr--service--main--item.landingThree{
  background: #25382F;
}
.nr--service--main--item.landingThree h4{
  color: #FFF;
}
.nr--service--main--item.landingThree p{
  color: #FFF;
}
.nr--community--main--teext h4 .second--span.threee{
  color: #FFF;
}
.nr--service--heading--text.landingThreeWhyus h3 {
  color: #FFF;
}
.nr--service--heading--text.landingThreeWhyus p{
  color: #FFF;
}
.nr--whyUs--item.landingThreeit {
  border: 1px rgba(1, 118, 63, 0.14);
  background: #0F251B;
  box-shadow: none;
}
.nr--whyUs--texts.landingThreeText h5{
  color: #FFF;
}
.nr--whyUs--texts.landingThreeText h5 span{
  color: #FFF;
}
.nr--testimonials--item.landingThreeTest{
  background: #0F251B;
}
.nr--testItem--text.landingthreeItxt p{
  color: #FFF;
}
.nr--testItem--profile--photo.landingthreeProfile{
  border: 2px solid #FFF;
}
.nr--testItem--profile--text.landingThreeTxting h3{
  color: #FFF;
}
.nr--testItem--profile--text.landingThreeTxting p{
  color: #FFF;
}
.nr--footer--logo--text.landingThreeFooter h4{
  color: #FFF;
}
.nr--footer--logo--text.landingThreeFooter h4 span{
  color: #FFF;
}
.nr--footer--texts.landingThreeFooter p{
  color: #FFF;
}
.nr--footer--icon.landingThreeFooter:hover{
  background-color: transparent;
  border: 1px solid #FFF;
}
.nr--footer--icon.landingThreeFooter:hover svg path{
  fill: #FFF;
}
/* Landing Three :: end hare */



/* ================= Nahian  AOS edited ========================================= */
[data-aos=zoom-in] {
  transform: scale(.5);
}

[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
  transition-duration: 1s;
}

[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
  transition-duration: 1s;
}

[data-aos=fade-up] {
  transform: translate3d(0,45px,0);
}
[data-aos=fade-up-right] {
  transform: translate3d(-60px,60px,0);
}
[data-aos=fade-up-left] {
  transform: translate3d(60px,60px,0);
}

