/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --black: #121715;
  --white: #fff;
  --secondary-color: #f6f8f7;
  --primary-color: #01763f;
  --base-transition: all 0.3s ease-in-out;
}


/* -------------------- cart-page starts here ----------------- */
.upload-new-product-and-service-header.seller-profile-view {
  padding: 51px 50px 51px 38px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  background-color: var(--white);
  margin-bottom: 10px;
}

.back-btn {
  width: 60px;
  height: 60px;
  border-radius: 14px;
  border: 1px solid #EFF1F6;
  padding: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.upload-new-product-and-service-header h2 {
  color: var(--black);
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
  text-transform: capitalize;
}

.cart-section {
  width: 100%;
  padding: 0 50px 0 38px;
}

.cart-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart-table-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 223px);
  row-gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  border: 1px solid #E4E7E9;
  background: #DAE2DE;
  padding: 10px 24px;
}

.table-header-cell {
  color: #475156;
  font-family: Satoshi;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 18px */
  text-transform: uppercase;
  text-align: start;
}

.table-header-cell:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.table-header-cell:nth-child(2) {
  width: 88px;
}

.table-header-cell:nth-child(3) {
  width: 172px;
}

.table-header-cell:nth-child(4) {
  width: 112px;
}

.table-body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
  background: var(--secondary-color);
  padding: 24px;

}

.table-body hr {
  background: #DAE2DE;
  margin: 28px 0;
}

/* cart cell start */
.cart-cell-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-action-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.cart-action-icon:hover {
  cursor: pointer;
}

.cart-action-icon:hover svg path {
  stroke: #EE5858;
}

.cart-image {
  width: 72px;
  height: 72px;
  min-width: 72px;
  border-radius: 12px;
}

.cart-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}

.cart-name {
  color: rgba(0, 0, 0, 0.20);
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  min-width: 110px;
  margin-right: 5px;
}

.cart-price {
  width: 88px;
  min-width: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-price del {
  color: #929FA5;
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.cart-price span {
  color: #475156;
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 142.857% */
}

.quantity-counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 148px;
  min-width: 148px;
  padding: 12px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 14px;
  border: 1px solid #E4E7E9;
  background: var(--white);
  margin-right: 24px;
}

.quantity-counter input {
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
}

.quantity-counter button {
  width: 16px;
  height: 16px;
  border-radius: 14px;
  cursor: pointer;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.cart-sub-total {
  width: 112px;
  min-width: 112px;
  text-align: start;
  color: rgba(0, 0, 0, 0.20);
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 142.857% */
}

/* side box start */
.cart-total-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 372px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 0px 30px 24px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 18px;
  border: 1px solid #E4E7E9;
  background: var(--secondary-color);
  min-width: 223px;
}

.cart-total-box-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: rgba(0, 0, 0, 0.20);
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.cart-total-box-body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  padding-bottom: 24px;
}

.cart-total-box-body p {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cost-name {
  color: #5F6C72;
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.cost-value {
  color: rgba(0, 0, 0, 0.20);
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.cart-total-box-body h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.total-name {
  color: rgba(0, 0, 0, 0.20);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.total-value {
  color: rgba(0, 0, 0, 0.20);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.cart-total-box-footer {
  width: 100%;

}

.buy-now-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 59px;
  padding: 19.5px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--white);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: var(--base-transition);
  -o-transition: var(--base-transition);
  transition: var(--base-transition);
  border: 1px solid var(--primary-color);
}
.buy-now-btn:hover{
  background-color: var(--white);
  color: var(--black);
}

/* -------------------- cart-page ends here ----------------- */



/* responsive css starts */


@media only screen and (min-width: 1366px) and (max-width: 1919px) {}


/* laptop devices */
@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .cart-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }

  .cart-table-container {
    width: 100%;
  }

  .cart-total-box {
    width: 50%;
    -ms-flex-item-align: self-end;
        -ms-grid-row-align: self-end;
        align-self: self-end;
  }

  .cart-name {
    max-width: 200px !important;
  }
}

/* large tablet devices */
@media only screen and (min-width:992px) and (max-width: 1199px) {
  .cart-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }

  .cart-table-container {
    width: 100%;
  }

  .cart-total-box {
    width: 50%;
    -ms-flex-item-align: self-end;
        -ms-grid-row-align: self-end;
        align-self: self-end;
  }

  .cart-name {
    max-width: 200px !important;
  }
}

/* medium tablet devices */
@media only screen and (min-width:768px) and (max-width: 991px) {
  
  .upload-new-product-and-service-header.seller-profile-view {
    padding: 28px 50px 28px 38px;
  }

  .cart-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }

  .cart-table-container {
    width: 100%;
  }

  .cart-total-box {
    width: 50%;
    -ms-flex-item-align: self-end;
        -ms-grid-row-align: self-end;
        align-self: self-end;
  }

  .cart-name {
    max-width: 200px !important;
  }
}



/* small tablet devices */

@media only screen and (min-width:576px) and (max-width: 767px) {
  .back-btn {
    width: 50px;
    height: 50px;
    padding: 15px;
  }

  .upload-new-product-and-service-header h2 {
    font-size: 22px;
  }

  .upload-new-product-and-service-header.seller-profile-view {
    padding: 10px 15px;
  }

  .cart-section {
    padding: 0 15px;
  }

  .cart-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }

  .cart-table-container {
    width: 100%;
  }

  .cart-total-box {
    width: 50%;
    -ms-flex-item-align: self-end;
        -ms-grid-row-align: self-end;
        align-self: self-end;
  }

  .cart-name {
    max-width: 200px !important;
  }

  .table-body {
    padding: 20px 10px;
  }

  .image-action-name {
    gap: 8px;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }

  .cart-image {
    width: 55px;
    height: 55px;
    min-width: 55px;
    border-radius: 12px;
  }

  .cart-name {
    font-size: 14px;
  }

  .quantity-counter {
    width: 115px;
    min-width: 115px;
    padding: 12px 20px;
    margin-right: 10px;
  }

  .table-header-cell:nth-child(3) {
    width: 100px;
  }
}


/* large mobile devices */

@media only screen and (min-width:480px) and (max-width: 575px) {
  .back-btn {
    width: 50px;
    height: 50px;
    padding: 15px;
  }

  .upload-new-product-and-service-header h2 {
    font-size: 22px;
  }

  .upload-new-product-and-service-header.seller-profile-view {
    padding: 10px 15px;
  }

  .cart-section {
    padding: 0 10px;
  }

  .cart-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }

  .cart-table-container {
    width: 100%;
  }

  .cart-total-box {
    width: 50%;
    -ms-flex-item-align: self-end;
        -ms-grid-row-align: self-end;
        align-self: self-end;
  }
  .table-header{
    display: none;
  }
  .table-body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 30px;
    background: var(--secondary-color);
    padding: 15px 12px;
  }
  .cart-cell-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    }
  .cart-price{
    -ms-flex-item-align: self-end;
        -ms-grid-row-align: self-end;
        align-self: self-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .quantity-counter{
    -ms-flex-item-align: self-start;
        -ms-grid-row-align: self-start;
        align-self: self-start;
    width: 120px;
    min-width: 120px;
  }
  .cart-sub-total{
    -ms-flex-item-align: self-end;
        -ms-grid-row-align: self-end;
        align-self: self-end;
    text-align: end;
  }
  .buy-now-btn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 45px;
    padding: 8.5px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.table-body hr {
  margin: 10px 0;
}
}




/* mobile device */
@media only screen and (min-width:375px) and (max-width: 479px) {
  .back-btn {
    width: 50px;
    height: 50px;
    padding: 15px;
  }

  .upload-new-product-and-service-header h2 {
    font-size: 22px;
  }

  .upload-new-product-and-service-header.seller-profile-view {
    padding: 10px 15px;
  }

  .cart-section {
    padding: 0 10px;
  }

  .cart-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }

  .cart-table-container {
    width: 100%;
  }

  .cart-total-box {
    width: 50%;
    -ms-flex-item-align: self-end;
        -ms-grid-row-align: self-end;
        align-self: self-end;
  }
  .table-header{
    display: none;
  }
  .table-body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 30px;
    background: var(--secondary-color);
    padding: 15px 12px;
  }
  .cart-cell-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    }
  .cart-price{
    -ms-flex-item-align: self-end;
        -ms-grid-row-align: self-end;
        align-self: self-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .quantity-counter{
    -ms-flex-item-align: self-start;
        -ms-grid-row-align: self-start;
        align-self: self-start;
    width: 120px;
    min-width: 120px;
  }
  .cart-sub-total{
    -ms-flex-item-align: self-end;
        -ms-grid-row-align: self-end;
        align-self: self-end;
    text-align: end;
  }
  .buy-now-btn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 45px;
    padding: 8.5px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.table-body hr {
  margin: 10px 0;
}
}



/* extra small devices */
@media only screen and (max-width: 374px) {
  .back-btn {
    width: 50px;
    height: 50px;
    padding: 15px;
  }

  .upload-new-product-and-service-header h2 {
    font-size: 22px;
  }

  .upload-new-product-and-service-header.seller-profile-view {
    padding: 10px 15px;
  }

  .cart-section {
    padding: 0 10px;
  }

  .cart-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }

  .cart-table-container {
    width: 100%;
  }

  .cart-total-box {
    width: 50%;
    -ms-flex-item-align: self-end;
        -ms-grid-row-align: self-end;
        align-self: self-end;
  }
  .table-header{
    display: none;
  }
  .table-body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 30px;
    background: var(--secondary-color);
    padding: 15px 12px;
  }
  .cart-cell-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    }
  .cart-price{
    -ms-flex-item-align: self-end;
        -ms-grid-row-align: self-end;
        align-self: self-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .quantity-counter{
    -ms-flex-item-align: self-start;
        -ms-grid-row-align: self-start;
        align-self: self-start;
    width: 120px;
    min-width: 120px;
  }
  .cart-sub-total{
    -ms-flex-item-align: self-end;
        -ms-grid-row-align: self-end;
        align-self: self-end;
    text-align: end;
  }
  .buy-now-btn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 45px;
    padding: 8.5px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.table-body hr {
  margin: 10px 0;
}
}