/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --black: #121715;
  --white: #fff;
  --secondary-color: #F6F8F7;
  --primary-color: #01763F;
  --base-transition: all 0.3s ease-in-out;
}


/* -------------------- Notification page starts here ----------------- */
.upload-new-product-and-service-header.seller-profile-view {
  padding: 51px 50px 51px 38px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  background-color: var(--white);
  margin-bottom: 10px;
}

.back-btn {
  width: 60px;
  height: 60px;
  border-radius: 14px;
  border: 1px solid #EFF1F6;
  padding: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.upload-new-product-and-service-header h2 {
  color: var(--black);
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
  text-transform: capitalize;
}

.notifications-section {
  width: 100%;
  padding: 0 50px 0 38px;
}

.notifications-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.notification {
  width: 100%;
  padding: 16px;
  gap: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 18px;
  background: #F6F8F7;
}

.notification-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  padding: 6px 2px;
  gap: 12px;
}

.notification-text h2 {
  color: var(--black);
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 120% */
  text-transform: capitalize;
}

.notification-text h2.security-alert {
  color: var(--black);
  font-family: Satoshi;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
}

.notification-text p {
  color: #121715;
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.notification-doc a {
  color: #0085FF;
  font-family: Inter;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
}

.review-account-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  padding: 8px 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid #DCDEE4;
  background: var(--white);
  color: #696F8C;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-transform: capitalize;
  max-width: 180px;
}

.notification-close{
  cursor: pointer;
  -webkit-transition: var(--base-transition);
  -o-transition: var(--base-transition);
  transition: var(--base-transition);
}
.notification-close:hover svg path{
  stroke: #FF3363;
}

/* -------------------- Notification page ends here ----------------- */



/* responsive css starts */


@media only screen and (min-width: 1366px) and (max-width: 1919px) {}


/* laptop devices */
@media only screen and (min-width: 1200px) and (max-width: 1365px) {}

/* large tablet devices */
@media only screen and (min-width:992px) and (max-width: 1199px) {}

/* medium tablet devices */
@media only screen and (min-width:768px) and (max-width: 991px) {
  .upload-new-product-and-service-header.seller-profile-view {
    padding: 28px 50px 28px 38px;
  }


}



/* small tablet devices */

@media only screen and (min-width:576px) and (max-width: 767px) {
  .back-btn{
    width: 50px;
    height: 50px;
    padding: 15px;
  }
  .upload-new-product-and-service-header h2 {
    font-size: 22px;
  }
  .upload-new-product-and-service-header.seller-profile-view {
    padding: 10px 15px;
  }

  .notifications-section {
    padding: 0 15px;
  }

  .notifications-container {
    gap: 12px;
  }

  .notification {
    padding: 10px;
    border-radius: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .notification-text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 6px 2px;
    gap: 8px;
  }

  .notification-text h2 {
    font-size: 20px;
  }

  .notification-text p {
    font-size: 16px;
  }

  .notification-icon {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .notification-close {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .notification-text h2.security-alert {
    font-size: 16px;
  }
}


/* large mobile devices */

@media only screen and (min-width:480px) and (max-width: 575px) {
  
}




/* mobile device */
@media only screen and (min-width:375px) and (max-width: 479px) {}



/* extra small devices */
@media only screen and (max-width: 575px) {
  .back-btn{
    width: 50px;
    height: 50px;
    padding: 15px;
  }
  .upload-new-product-and-service-header h2 {
    font-size: 22px;
  }
  .upload-new-product-and-service-header.seller-profile-view {
    padding: 10px 15px;
  }

  .notifications-section {
    padding: 0 15px;
  }

  .notifications-container {
    gap: 12px;
  }

  .notification {
    padding: 10px;
    border-radius: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .notification-text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 6px 2px;
    gap: 8px;
  }

  .notification-text h2 {
    font-size: 16px;
  }

  .notification-text p {
    font-size: 14px;
  }

  .notification-icon {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .notification-close {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .notification-text h2.security-alert {
    font-size: 14px;
  }
}