/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --black: #121715;
  --white: #fff;
  --secondary-color: #F6F8F7;
  --primary-color: #01763F;
  --base-transition: all 0.3s ease-in-out;

}


/* ======================== Settings page starts ====================== */

.settings-header-section {
  width: 100%;
  padding: 51px 50px 51px 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.settings-header-section h1 {
  color: var(--black);
  font-family: Satoshi;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.51px;
  text-transform: capitalize;
}

.settings-form-section {
  width: 100%;
  height: auto;
  padding: 0px 50px 0px 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.settings-form-container {
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: var(--secondary-color);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.settings-form-container form {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px;
}

.account-update-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5px;
}

.account-update-header h1 {
  color: var(--black);
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  text-transform: capitalize;
}

.account-update-header p {
  color: var(--black);
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.3px;
}

.account-update-btn-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}

.account-update-btn {
  padding: 23px 60px;
  text-align: center;
  color: var(--white);
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
  border-radius: 14px;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  -webkit-transition: var(--base-transition);
  -o-transition: var(--base-transition);
  transition: var(--base-transition);
}

.account-update-btn:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--black);
  color: var(--black);
}

.account-image-update-section {
  height: 231px;
  min-height: 231px;
}

.update-profile-img-label {
  width: 100%;
  height: calc(100% - 51px);
  background-color: var(--white);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  cursor: pointer;
}

.account-image-update-section input {
  display: none;
}

.update-profile-img-label h5 {
  color: #475467;
  text-align: center;
  font-family: Satoshi;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 150% */
}

.upload-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: 1px solid #EAECF0;
  background: var(--white);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.image-upload-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.image-upload-text span:first-child {
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: var(--primary-color);
  font-weight: 700;
}

.image-upload-text span:last-child {
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: #475467;
  font-weight: 500;
}

.updated-image-preview-container {
  width: 118px;
  height: 118px;
  border-radius: 14px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 45px;
  top: 100px;
}

.updated-image-preview-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.50);
  z-index: 1;
  border-radius: 14px;
}

.updated-image-preview-container svg {
  z-index: 12;
}

.account-personal-info-update-section {

  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 39px;
}

.account-personal-info-update-section h1 {
  color: var(--black);
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.update-info-form-fields {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.personal-info-field-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 25px;
}

.personal-info-field-inner-wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.personal-info-field-wrapper.email-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
  position: relative;
}

.personal-info-field-wrapper.email-wrapper::before {
  content: '';
  position: absolute;
  left: 28px;
  top: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  width: 24px;
  /* Adjust width as needed */
  height: 23px;
  /* Adjust height as needed */
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewBox="0 0 24 23" fill="none"%3E%3Cg clip-path="url(%23clip0_516_2250)"%3E%3Cpath d="M20.3563 3.94336H3.60295C2.44638 3.94336 1.50879 4.85256 1.50879 5.97406V17.1429C1.50879 18.2644 2.44638 19.1736 3.60295 19.1736H20.3563C21.5128 19.1736 22.4504 18.2644 22.4504 17.1429V5.97406C22.4504 4.85256 21.5128 3.94336 20.3563 3.94336Z" stroke="%23A2A2A8" stroke-width="1.71341"/%3E%3Cpath d="M1.98438 4.89551L11.2404 13.1903C11.6585 13.5533 12.2988 13.5533 12.7169 13.1903L21.9741 4.89551" stroke="%23A2A2A8" stroke-width="1.71341" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M2.45996 18.2223L9.04831 11.5591M21.4978 18.2223L14.9095 11.5591L21.4978 18.2223Z" stroke="%23A2A2A8" stroke-width="2.28454" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id="clip0_516_2250"%3E%3Crect width="22.8454" height="22.8454" fill="white" transform="translate(0.556641 0.13623)"/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E') no-repeat center;
  background-size: contain;
  /* Adjust size as needed */
}


.update-info-form-fields label {
  width: 100%;
  padding: 11px;
  color: var(--black, #1B212D);
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: start;
}

.update-info-form-fields input {
  width: 100%;
  padding: 18px 28px;
  color: #78778B;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 14px;
  border: 1px solid #F5F5F5;
  background: var(--white);
}

.email-wrapper input {
  padding: 18px 28px 18px 74px;
}

.personal-info-field-inner-wrapper.dob-picker {
  position: relative;
}

.personal-info-field-inner-wrapper.dob-picker::after {
  content: '';
  position: absolute;
  right: 28px;
  top: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  width: 23px;
  /* Adjust size as needed */
  height: 24px;
  /* Adjust size as needed */
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="23" height="24" viewBox="0 0 23 24" fill="none"%3E%3Cpath d="M7.71259 2.36035V5.21603V2.36035ZM15.3277 2.36035V5.21603V2.36035ZM3.42907 9.10924H19.6112H3.42907ZM20.0872 8.54765V16.6387C20.0872 19.4944 18.6593 21.3982 15.3277 21.3982H7.71259C4.38096 21.3982 2.95312 19.4944 2.95312 16.6387V8.54765C2.95312 5.69197 4.38096 3.78819 7.71259 3.78819H15.3277C18.6593 3.78819 20.0872 5.69197 20.0872 8.54765Z" stroke="%23A2A2A8" stroke-width="1.71341" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M7.99219 16.3532H8.00074M15.0366 13.4976H15.0451H15.0366ZM15.0366 16.3532H15.0451H15.0366ZM11.5153 13.4976H11.5239H11.5153ZM11.5153 16.3532H11.5239H11.5153ZM7.99219 13.4976H8.00074H7.99219Z" stroke="%23A2A2A8" stroke-width="1.71341" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E') no-repeat center;
  background-size: contain;
  /* Adjust this to fit the size of the SVG */
}

.personal-info-field-inner-wrapper.password-wrapper {
  position: relative;
}

.personal-info-field-inner-wrapper.password-wrapper input {
  padding: 18px 28px 18px 74px;
}

.personal-info-field-inner-wrapper.password-wrapper .lock {
  content: '';
  position: absolute;
  left: 28px;
  top: 46%;
  width: 24px;
  /* Adjust width as needed */
  height: 16px;
  top: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

.personal-info-field-inner-wrapper.password-wrapper .show-password {
  content: '';
  position: absolute;
  right: 28px;
  top: 50%;
  width: 24px;
  /* Adjust width as needed */
  height: 16px;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  cursor: pointer;
}

/* ======================== Settings page ends ====================== */



/* responsive css starts */




@media only screen and (min-width: 1366px) and (max-width: 1919px) {}

/* laptop devices */
@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .shipping-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .delivary-details {
    width: 100%;
  }

  .order-details {
    width: 100%;
    -ms-flex-item-align: self-end !important;
        -ms-grid-row-align: self-end !important;
        align-self: self-end !important;
  }
}

/* large tablet devices */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .shipping-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .delivary-details {
    width: 100%;
  }

  .order-details {
    width: 100%;
    -ms-flex-item-align: self-end !important;
        -ms-grid-row-align: self-end !important;
        align-self: self-end !important;
  }
}

/* medium tablet devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .settings-header-section {
    padding: 10px 15px;
    margin-bottom: 10px;
  }

  .controller-section.settings-header .notification-button {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
  }

  .settings-header-section h1 {
    font-size: 22px;
  }

  .settings-form-section {
    padding: 0 15px;
  }

  .settings-form-container {
    padding: 25px;
  }

  .account-update-header h1 {
    font-size: 22px;
  }

  .account-update-header p {
    font-size: 18px;
  }

  .updated-image-preview-container {
    width: 100px;
    height: 100px;
    border-radius: 14px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 24px;
    top: 120px;
  }

  .updated-image-preview-container svg {
    width: 24px;
    height: 24px;
  }

  .account-personal-info-update-section {
    gap: 15px;
  }

  .settings-form-container form {
    gap: 25px;
  }

  .update-info-form-fields {
    gap: 15px;
  }

  .personal-info-field-wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }

  .personal-info-field-inner-wrapper {
    width: 100%;
  }

  .account-update-btn {
    padding: 16px 47px;

    font-size: 18px;

  }
  
}

/* small tablet devices */

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .settings-header-section {
    padding: 10px 15px;
    margin-bottom: 10px;
  }
  .update-info-form-fields input{
    padding: 16px 28px;
  }
  .controller-section.settings-header .notification-button {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
  }

  .settings-header-section h1 {
    font-size: 22px;
  }

  .settings-form-section {
    padding: 0 15px;
  }

  .settings-form-container {
    padding: 25px;
  }

  .account-update-header h1 {
    font-size: 22px;
  }

  .account-update-header p {
    font-size: 18px;
  }

  .updated-image-preview-container {
    width: 100px;
    height: 100px;
    border-radius: 14px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 24px;
    top: 120px;
  }

  .updated-image-preview-container svg {
    width: 24px;
    height: 24px;
  }

  .account-personal-info-update-section {
    gap: 15px;
  }

  .settings-form-container form {
    gap: 25px;
  }

  .update-info-form-fields {
    gap: 15px;
  }

  .personal-info-field-wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }

  .personal-info-field-inner-wrapper {
    width: 100%;
  }

  .account-update-btn {
    padding: 16px 47px;

    font-size: 18px;

  }
}

/* large mobile devices */

@media only screen and (min-width: 480px) and (max-width: 575px) {

  .settings-header-section {
    padding: 10px;
  }
  .update-info-form-fields input{
    padding: 16px 28px;
  }
  .settings-header-section h1 {
    font-size: 22px;
  }

  .controller-section.settings-header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
  }

  .settings-form-section {
    padding: 0 10px;
  }

  .settings-form-container {
    padding: 15px;
  }

  .settings-form-container form {
    gap: 12px;
  }

  .account-update-header h1 {
    font-size: 18px;
  }

  .account-update-header p {
    font-size: 14px;
  }

  .updated-image-preview-container {
    width: 70px;
    height: 70px;
    left: 16px;
    top: 119px;
  }

  .updated-image-preview-container svg {
    width: 20px;
    height: 20px;
  }

  .account-personal-info-update-section h1 {
    font-size: 18px;
  }

  .account-personal-info-update-section {
    gap: 12px;
  }

  .update-info-form-fields {
    gap: 12px;
  }

  .personal-info-field-wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }

  .personal-info-field-inner-wrapper {
    width: 100%;
  }

  .update-info-form-fields label {
    font-size: 14px;
  }

  .update-profile-img-label {
    height: calc(100% - 81px);
  }

  .account-update-btn {
    padding: 16px 32px;
    font-size: 14px;

  }
}

/* mobile device */
@media only screen and (min-width: 375px) and (max-width: 479px) {

  .settings-header-section {
    padding: 10px;
  }
  .update-info-form-fields input{
    padding: 16px 28px;
  }
  .settings-header-section h1 {
    font-size: 22px;
  }

  .controller-section.settings-header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
  }

  .settings-form-section {
    padding: 0 10px;
  }

  .settings-form-container {
    padding: 15px;
  }

  .settings-form-container form {
    gap: 12px;
  }

  .account-update-header h1 {
    font-size: 18px;
  }

  .account-update-header p {
    font-size: 14px;
  }

  .updated-image-preview-container {
    width: 70px;
    height: 70px;
    left: 16px;
    top: 119px;
  }

  .updated-image-preview-container svg {
    width: 20px;
    height: 20px;
  }

  .account-personal-info-update-section h1 {
    font-size: 18px;
  }

  .account-personal-info-update-section {
    gap: 12px;
  }

  .update-info-form-fields {
    gap: 12px;
  }

  .personal-info-field-wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }

  .personal-info-field-inner-wrapper {
    width: 100%;
  }

  .update-info-form-fields label {
    font-size: 14px;
  }

  .update-profile-img-label {
    height: calc(100% - 81px);
  }

  .account-update-btn {
    padding: 16px 32px;
    font-size: 14px;

  }
}

/* extra small devices */
@media only screen and (max-width: 374px) {

  .update-info-form-fields input{
    padding: 16px 28px;
  }
  .settings-header-section {
    padding: 10px;
  }

  .settings-header-section h1 {
    font-size: 22px;
  }

  .controller-section.settings-header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
  }

  .settings-form-section {
    padding: 0 10px;
  }

  .settings-form-container {
    padding: 15px;
  }

  .settings-form-container form {
    gap: 12px;
  }

  .account-update-header h1 {
    font-size: 18px;
  }

  .account-update-header p {
    font-size: 14px;
  }

  .updated-image-preview-container {
    width: 70px;
    height: 70px;
    left: 16px;
    top: 119px;
  }

  .updated-image-preview-container svg {
    width: 20px;
    height: 20px;
  }

  .account-personal-info-update-section h1 {
    font-size: 18px;
  }

  .account-personal-info-update-section {
    gap: 12px;
  }

  .update-info-form-fields {
    gap: 12px;
  }

  .personal-info-field-wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }

  .personal-info-field-inner-wrapper {
    width: 100%;
  }

  .update-info-form-fields label {
    font-size: 14px;
  }

  .update-profile-img-label {
    height: calc(100% - 81px);
  }

  .account-update-btn {
    padding: 16px 32px;
    font-size: 14px;

  }
}