/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --black: #121715;
  --white: #fff;
  --secondary-color: #F6F8F7;
  --primary-color: #01763F;
  --base-transition: all 0.3s ease-in-out;

}


/* ---------------------------------------------- upload new product and service page starts ------------------------------------------- */

.upload-new-product-and-service-header {
  padding: 30px 38px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  background-color: var(--white);
  margin-bottom: 10px;
}

.back-btn {
  width: 60px;
  height: 60px;
  border-radius: 14px;
  border: 1px solid #EFF1F6;
  padding: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.upload-new-product-and-service-header h2 {
  color: var(--black);
  font-family: Satoshi;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
  text-transform: capitalize;
}

.upload-product-and-service-tab-section {
  width: 100%;
  padding: 0 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 46px;
  height: auto;

  margin-bottom: 51px;
}

.upload-product-and-service-tab-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 410px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 14px;
  border: 1px solid #E8E8E8;
  gap: 10px;
}

.tab-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 14px;
  border: 1px solid #F6F8F7;
  background-color: var(--white);
  color: var(--black);
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
  text-transform: capitalize;
  -webkit-transition: var(--base-transition);
  -o-transition: var(--base-transition);
  transition: var(--base-transition);
  text-align: center;
}

.tab-btn.tab-active {
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: 700;
}

.upload-product-and-service-tab-body {
  width: 100%;
  height: 100%;
}

.upload-form {
  display: none;
}

.upload-form.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  -webkit-transition: var(--base-transition);
  -o-transition: var(--base-transition);
  transition: var(--base-transition);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.upload-form-input-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.upload-form-input-wrapper.date-picker {
  position: relative;
}

.date-picker>svg {
  position: absolute;
  top: 50%;
  right: 22px;
  margin-top: 5px;

}


.upload-form-input-wrapper label {
  width: 100%;
  color: var(--black);
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.upload-form-input-wrapper input {
  width: 100%;
  padding: 16px;
  border-radius: 14px;
  border: 1px solid #DBE0EB;
  background: var(--white);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #303432;
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 133.333% */
}

.upload-form-input-wrapper textarea {
  height: 180px;
  max-height: 180px;
  padding: 22px 16px;
  border-radius: 14px;
  border: 1px solid #DBE0EB;
  background: var(--white);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #303432;
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.upload-form-input-wrapper.price-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 21px;
}

.upload-form-inner-input-wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}

.color-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.upload-form-input-wrapper.color-input-wrapper .color-wrapper label {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 7.5px 12px;
  border-radius: 14px;
  border: 1px solid #DBE0EB;
  background: var(--white);
  cursor: pointer;
  color: #303432;
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 133.333% */
  text-align: center;
  -webkit-transition: var(--base-transition);
  -o-transition: var(--base-transition);
  transition: var(--base-transition);
}

/* .upload-form-input-wrapper.color-input-wrapper .color-wrapper label:hover{
  border: 1px solid var(--primary-color);
  background: rgba(1, 118, 63, 0.09);
} */
.upload-form-input-wrapper.color-input-wrapper .color-wrapper input[type="checkbox"] {
  visibility: hidden;
  width: 0px;
  display: none;
}

.upload-form-input-wrapper.color-input-wrapper .color-wrapper input:checked+label {
  border: 1px solid var(--primary-color);
  background: rgba(1, 118, 63, 0.09);
}

.upload-form-image-input-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.upload-form-image-input-wrapper>label {
  color: var(--black);
  width: 100%;
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 111.111% */
}

.upload-form-image-input-wrapper input {
  display: none;
}

.upload-form-image-input-wrapper label.image-upload-container {
  border-radius: 14px;
  border: 1px solid #DBE0EB;
  background: #E6F2EC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 183px;
  padding: 26px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  cursor: pointer;
}

.image-preview {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image-preview img {
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 14px;
  border: 1px solid #DBE0EB;
}

.upload-form-image-input-wrapper p {
  color: #475467;
  text-align: start;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 111.111% */
}

.upload-sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: 1px solid #EAECF0;
  background: var(--white);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.image-upload-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.image-upload-text span:first-child {
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: var(--primary-color);
  font-weight: 700;
}

.image-upload-text span:last-child {
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: #475467;
  font-weight: 500;
}

.image-upload-container h5 {
  color: #475467;
  text-align: center;
  font-family: Satoshi;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  /* 150% */
}

.upload-form-button-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.upload-form-reset-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 27px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: 1px solid #121715;
  color: var(--black);
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
  background-color: var(--white);
  -webkit-transition: var(--base-transition);
  -o-transition: var(--base-transition);
  transition: var(--base-transition);
}

.upload-form-reset-btn:hover {
  background-color: var(--primary-color);
  color: var(--white);
  border: 1px solid var(--primary-color);
}

.upload-form-submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 27px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  color: var(--white);
  font-family: Satoshi;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.3px;
  background-color: var(--primary-color);
  -webkit-transition: var(--base-transition);
  -o-transition: var(--base-transition);
  transition: var(--base-transition);
  border: 1px solid var(--primary-color);
}

.upload-form-submit-btn:hover {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid var(--black);
}

.upload-form-input-wrapper .nice-select {
  height: 60px;
  border-radius: 14px;
  border: 1px solid #DBE0EB;
  background: var(--white);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
          box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.upload-form-input-wrapper .nice-select::after {
  top: 50%;
  right: 22px;
  margin-top: -7px;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid var(--black);
  border-right: 2px solid var(--black);
}

.upload-form-input-wrapper .nice-select .list {
  max-height: 100px;
  overflow: auto;
  width: 294px;
}

.upload-form-input-wrapper .nice-select .current {
  overflow: hidden;
  color: #303432;
  font-family: Satoshi;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 133.333% */
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ---------------------------------------------- upload new product and service page ends ------------------------------------------- */


@media only screen and (min-width: 1366px) and (max-width: 1919px) {}

/* laptop devices */
@media only screen and (min-width: 1200px) and (max-width: 1365px) {
  .shipping-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .delivary-details {
    width: 100%;
  }

  .order-details {
    width: 100%;
    -ms-flex-item-align: self-end !important;
        -ms-grid-row-align: self-end !important;
        align-self: self-end !important;
  }
}

/* large tablet devices */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .shipping-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .delivary-details {
    width: 100%;
  }

  .order-details {
    width: 100%;
    -ms-flex-item-align: self-end !important;
        -ms-grid-row-align: self-end !important;
        align-self: self-end !important;
  }
}

/* medium tablet devices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.upload-new-product-and-service-header{
  padding: 28px 50px 28px 38px;
  
}




}

/* small tablet devices */

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .back-btn {
    width: 50px;
    height: 50px;
    padding: 15px;
  }

  .upload-new-product-and-service-header {
    padding: 10px 15px;
  }

  .upload-new-product-and-service-header h2 {
    font-size: 22px;
  }
  .upload-product-and-service-tab-section {
    width: 100%;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    height: auto;
    margin-bottom: 45px;
  }

  .upload-form-input-wrapper .nice-select .list {
    max-height: 74px;
    overflow: auto;
    width: 294px;
  }
  .upload-form.active {

    gap: 12px;

  }

  .upload-form-input-wrapper {
    gap: 12px;
  }


  .upload-form-input-wrapper.price-input-wrapper{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .upload-form-inner-input-wrapper{
    gap: 12px;
    width: 100%;
  }

}

/* large mobile devices */

@media only screen and (min-width: 480px) and (max-width: 575px) {
  .back-btn {
    width: 50px;
    height: 50px;
    padding: 15px;
  }

  .upload-new-product-and-service-header {
    padding: 10px 15px;
  }

  .upload-new-product-and-service-header h2 {
    font-size: 22px;
  }

  .upload-product-and-service-tab-section {
    width: 100%;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    height: auto;
    margin-bottom: 45px;
  }

  .upload-form-input-wrapper .nice-select .list {
    max-height: 74px;
    overflow: auto;
    width: 294px;
  }

  .upload-product-and-service-tab-header {

    width: 100%;

    padding: 5px;

  }

  .tab-btn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 11px 12px;
    font-family: Satoshi;
    font-size: 14px;

  }

  .upload-form-input-wrapper label {
    font-size: 14px;
    line-height: normal;
  }

  .upload-form.active {

    gap: 12px;

  }

  .upload-form-input-wrapper {
    gap: 12px;
  }

  .upload-form-input-wrapper input {
    width: 100%;
    padding: 12px;

    font-size: 14px;

    line-height: normal;
  }

  .upload-form-input-wrapper.price-input-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }

  .upload-form-inner-input-wrapper {
    width: 100%;
    gap: 12px;
  }

  .color-wrapper {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 12px;
  }

  .upload-form-input-wrapper.color-input-wrapper .color-wrapper label {
    font-size: 14px;
  }

  .upload-form-image-input-wrapper p {
    font-size: 14px;
  }

  .upload-form-image-input-wrapper {
    gap: 12px;
  }

  .upload-form-image-input-wrapper label {
    font-size: 14px;
  }

  .upload-form-image-input-wrapper label.image-upload-container {

    height: 160px;
    padding: 26px 40px;

  }

  .upload-form-input-wrapper .nice-select {
    height: 48px;
    font-size: 14px;
  }
.upload-form-input-wrapper .nice-select .current{
  font-size: 14px;
}
  .upload-form-button-wrapper button{
    font-size: 14px;
  }
  .image-preview{
    gap: 3px;
  }
  .image-preview img{
    width: 80px;
    height: 80px;
  }

}

/* mobile device */
@media only screen and (min-width: 375px) and (max-width: 479px) {

}

/* extra small devices */
@media only screen and (max-width: 479px) {

  .back-btn {
    width: 50px;
    height: 50px;
    padding: 15px;
  }

  .upload-new-product-and-service-header {
    padding: 10px 15px;
  }

  .upload-new-product-and-service-header h2 {
    font-size: 22px;
  }

  .upload-product-and-service-tab-section {
    width: 100%;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    height: auto;
    margin-bottom: 45px;
  }

  .upload-form-input-wrapper .nice-select .list {
    max-height: 74px;
    overflow: auto;
    width: 294px;
  }

  .upload-product-and-service-tab-header {

    width: 100%;

    padding: 5px;

  }

  .tab-btn {
    
    padding: 11px 12px;
    
    font-size: 14px;

  }

  .upload-form-input-wrapper label {
    font-size: 14px;
    line-height: normal;
  }

  .upload-form {

    gap: 12px;

  }

  .upload-form-input-wrapper {
    gap: 12px;
  }

  .upload-form-input-wrapper input {
    width: 100%;
    padding: 12px;

    font-size: 14px;

    line-height: normal;
  }

  .upload-form-input-wrapper.price-input-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
  }

  .upload-form-inner-input-wrapper {
    width: 100%;
    gap: 12px;
  }

  .color-wrapper {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 12px;
  }

  .upload-form-input-wrapper.color-input-wrapper .color-wrapper label {
    font-size: 14px;
  }

  .upload-form-image-input-wrapper p {
    font-size: 14px;
  }

  .upload-form-image-input-wrapper {
    gap: 12px;
  }

  .upload-form-image-input-wrapper label {
    font-size: 14px;
  }

  .upload-form-image-input-wrapper label.image-upload-container {

    height: 160px;
    padding: 26px 40px;

  }

  .upload-form-input-wrapper .nice-select {
    height: 48px;
    font-size: 14px;
  }
.upload-form-input-wrapper .nice-select .current{
  font-size: 14px;
}
  .upload-form-button-wrapper button{
    font-size: 14px;
  }
  .image-preview{
    gap: 3px;
  }
  .image-preview img{
    width: 80px;
    height: 80px;
  }
}